.calendar-page {
    display: flex;
    justify-content: space-between;
    padding: 40px;
  }
  
  .calendar-section {
    width: 75%; 
    border: 1px solid black;
    padding: 50px;
  }
  
  .entries-section {
    width: 25%; 
    padding-left: 20px;
    border-left: 1px solid #ddd;
  }
  
  .calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .arrow-btn {
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 4px;
  }
  
  .calendar-grid-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .calendar-day-header {
    text-align: center;
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
  }
  
  .calendar-day {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
  }
  
  .calendar-day.has-event {
    background-color: #f5f5dc;
    font-weight: bold;
  }

  .calendar-day.weekend div{
    color: red;
  }
  
  .calendar-day.empty {
    background-color: transparent;
    pointer-events: none;
  }
  
  .event-title {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
  
  .calendar-day:hover {
    background-color: #f0f0f0;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
  }
  
  button {
    margin-right: 10px;
  }
  
  .close-btn {
    padding: 2px 8px;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px;
  }
  
  .close-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .entries-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .entries-section li {
    margin-bottom: 10px;
  }
  
  .entries-section h3 {
    margin-bottom: 10px;
  }
  .event-title{
    margin-bottom: 10px;
    
  }
  .form-detail{
    margin-bottom: 20px;
  }
  .form-detail-title{
    display: flex;
    margin-top: 10px;
  }
 
  
